#carouselExampleSlidesOnly .carousel-item {
    height: 450px;
}
.carousel{
    position: relative;
    margin:auto;
    height: 650px !important;
    width: inherit !important;
    background-color: lightgray !important;
}
.carousel-control-next-icon{
    color:black !important;
}
.images{
    display: block;
    text-align: center;
    width: 75%;
    height: 150px;

}
.description{
    text-align: left;
}
.card{
    margin: 10px auto;
    width:60%;
    height: 650px;

}
.post-images{
    max-height: 650px;
}
.card-header{
    font-size: large !important;
}
.username{
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
.username:hover{
    color:black;
}
.username:visited{
    color:black;
}