#carouselExampleSlidesOnly .carousel-item {
    height: 450px;
}
form{
    text-align: center;
}
.carousel{
    position: relative;
    margin:auto;
    height: 650px !important;
    width: inherit !important;
    background-color: lightgray !important;
}
.carousel-control-next-icon{
    color:black !important;
}
.images{
    display: block;
    text-align: center;
    width: 75%;
    height: 150px;

}

.description{
    padding-top: 0;
    text-align: left;
    border: 1px solid rgba(0,0,0,.125);
}
.card-user-image{
    width:20px;
    height:20px;
}
.card{
    margin: 10px auto;
    width:60%;
    height: 650px;

}
.post-images{
    max-height: 650px;
}
.card-header{
    padding-right: 0 ;

    font-size: large !important;
}
.header-name{
    width: 20%;
    display: inline-block;
}
.actions{
    display: inline-block;
    width: 79%;
    text-align: right;
}
.change{
    color:gray;
    text-decoration: none ;
}
.change:hover{
    font-weight: bolder;
    color: gray;
}
.delete{
    color:gray;
    text-decoration: none;
}
.delete:hover{
    color: red;
    font-weight: bolder;
}
.username{
    margin-left: 5px;
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
.username:hover{
    color:black;
}
.username:visited{
    color:black;
}
.btn{
    position: relative;
    top: -191px;
    width: 20%;
    padding: 0;
    height:100px !important;
}
#id_description{
    width: 79%;
    resize: none;
}
