{% extends '_base.html' %}
{% load static %}
{% block title %}
    Вход
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login-block">
        <form action="" method="POST">
            {% for field in form %}
               <div class="mb-3 fieldWrapper">
                   {{ field.errors }}
                   {{ field.label_tag }} {{ field }}
                   {% if field.help_text %}
                       <p class="form-text help">{{ field.help_text|safe }}</p>
                   {% endif %}
               </div>
            {% endfor %}
            {% csrf_token %}

            <input type="submit" class="btn btn-success" value="Вход">
        </form>
    </div>
    <div class="error-text">
    {% if form.errors %}
    <ul><li>Проверьте правильность ввода логина и пароля</li><ul>
    {% endif %}
    </div>
{% endblock %}

